.div{
  background-color: black;
}

.web{
  color: white;
}
.p{
  color:red;
}
.p2{
  color: orange;
}
.p3{
  color:yellow;
}
.p4{
  color:green;
}
.p5{
  color: seagreen;
}
.p6{
  color:lightblue;
}
.p7{
  color: blue;
}
.p8{
  color: #ccc;
}

.id{
  font-family: Verdana;
  border:3px solid rgb(211, 53, 211);
  border-radius: 20px;
}

.p1{
  font-family:"lucida console","courier new";
  font-size: 23px;
  border-bottom: 3px solid rgb(211, 53, 53);
  border-top:3px solid yellow;
  border-left:3px dotted rgb(53, 114, 134) ;
  border-right: 3px dotted rgb(72, 110, 15);
  border-radius:20px ;
}

.code{
  text-shadow:3px 3px 5px red,-3px -3px 5px rgb(30, 30, 218);
}

body{
  margin:0px;
}

.box{
  border: 5px solid;
  font-size: 5em;
  width: 250px;
  height: 250px;

}

#box1{
  background-color: red;
  margin: auto;
}

div{
  border: 3px solid;
  display: flow-root;
}

#box2{
  background-color:blue;
}

#img1{
  float:left;
  margin-right: 10px;
}

#img2{
  float:right;
  margin-right: 10px;
}

.div2{
  border:2px solid;
  height: 75px;
  overflow: scroll;
}

.divv{
  background-color: red;
  width: 100px;
  height: 100px;
  display :inline-block;
}

.span{
  background-color: blue;
  width: 100px;
  height: 100px;
  display :inline-block;
}

*{
  box-sizing: border-box;
}

.container{
  background-color: hsl(0, 0%, 25%);
  height: 100vh;
}

.box4{
  background-color: hsl(0, 0%, 100%);
  border: 2px solid;
  padding: 25px;
  height: auto;
  width: 50%;
  float:left;
  text-align: center;

  min-height: 50%;
}

#div5{
  width: 200px;
  height: 200px;
  background-color: hsl(188, 100%, 63%);
  position:relative;
  top: 0px;
  
}

#div6{
  width: 100px;
  height: 100px;
  background-color: hsl(0, 100%, 63%);
  position:absolute;
  top: 50px;
  left: 50px;
}
body{
  background-image:url(6ec6a5d2-d831-4544-a477-e52d55d1e416.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
#container1{
  border: 2px solid;
}

#container1 p{
  background-color: hsl(76, 100%, 50%);
}

#button:hover{
  background-color: hsl(120, 83%, 46%);
  font-size: 1.1em;
}

#button:active{
  background-color: hsl(0, 83%, 46%);
  font-size: 1.1em;
}

#greetings p{
  background-color: hsl(209, 76%, 43%);
  padding: 10px;
  display: none;
}

#greetings:hover p{
  display: block;
}

#hello::first-letter{
  font-size: 2em;
  font-style: italic;
  color: rgb(0, 174, 255);
}

#p::first-line{
  background-color:hsl(60, 83%, 49%) ;
}

#p::selection{
  color: hsl(93, 100%, 50%);
  background-color:hsl(0, 7%, 23%) ;
}

#fruit li::before{
  
}
#apple::after{
  content:"🍎" ;
}

#mango::after{
  content:"🥭" ;
}

#orange::after{
  content:"🍊" ;
}

#fruit li::marker{
  content:"✔";
  color: hsl(120, 37%, 29%);
  font-size: 2em;
}

.pagination{
  text-align: center;
}
.pagination a{
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
}
.active{
  background-color:hsl(84, 86%, 48%);
  font-weight: bold;
  border-radius: 5px;
}

.pagination a:hover:not(.active){
  background-color: hsl(0, 2%, 25%);
  border-radius: 5px;
}

.dropdown button{
  background-color: hsl(0, 1%, 28%);
  color: #ccc;
  padding:10px 15px ;
  border: none;
  cursor: pointer;
}
.dropdown a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
